* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* font-family: "Muli-Regular"; */
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 12px;
  margin: 0;
  color: #999;
}

input,
textarea,
select,
button {
  /* font-family: "Muli-Regular"; */
  font-family: "Open Sans";
  font-weight: 100;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #accffe;
}

.inner {
  position: relative;
  width: 800px;
}

.inner.login {
  width: 600px;
}
.inner.mainpage {
  width: 900px;
  height: 900px;
}
.login .form-holder p {
  font-size: 14px;
}


.image-1 {
  position: absolute;
  bottom: 0;
  left: -330px;
  width: 400px;
  z-index: 99;
}

.image-2 {
  position: absolute;
  bottom: 0;
  right: -235px;
  width: 300px;
  z-index: 99;
}

.otp-image {
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
  text-align: center;
}

.image-3 {
  width: 130px;
}
.image-4 {
  width: 300px;
}
h1.success {
  color: rgb(92, 165, 92);
  font-weight: 900;
}
.otp-group {
  text-align: center;
}
.otp-number {
  margin: 30px 0;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 300;
}

.flash-demo {
  background-color: #ff8585;
  display: block;
  color: #fff;
  padding: 5px 10px;
}
.flash-demo label {
  letter-spacing: 2px;
}

form,
div.success {
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 60px 61px 66px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

h1 {  
  font-size: 30px;
  font-family: "Open Sans";
  color: #444444;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 33px;
  font-weight: 300;
}
h2 {
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 200;
  margin-bottom: 33px;
}
.dpz h2 {
  margin-bottom: 15px;
}

.form-holder {
  position: relative;
  margin-bottom: 21px;
}
.form-holder span.lnr {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #333;
}
.form-holder span.lnr-right {
  cursor: pointer;
  left: 90%;
  top: 65%;
}
.form-holder span.lnr-lock {
  left: 2px;
}
.login .form-holder span.lnr-lock {
  left: 15px;
}
.login .form-holder a {
  color: #216ba5;
  font-weight: 400;
}
.login .form-holder a:hover {
  text-decoration: underline;
}

.form-control {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  height: 38px;
  background: none;
  /* padding: 3px 0px 0px 30px; */
  color: #666;
  /* font-family: "Muli-SemiBold"; */
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 16px;
}
.form-control::-webkit-input-placeholder {
  font-size: 14px;
  /* font-family: "Muli-Regular"; */
  font-family: "Open Sans";
  font-weight: 100;
  color: #999;
  transform: translateY(1px);
}
.form-control::-moz-placeholder {
  font-size: 14px;
  /* font-family: "Muli-Regular"; */
  font-family: "Open Sans";
  font-weight: 100;
  color: #999;
  transform: translateY(1px);
}
.form-control:-ms-input-placeholder {
  font-size: 14px;
  /* font-family: "Muli-Regular"; */
  font-family: "Open Sans";
  font-weight: 100;
  color: #999;
  transform: translateY(1px);
}
.form-control:-moz-placeholder {
  font-size: 14px;
  /* font-family: "Muli-Regular"; */
  font-family: "Open Sans";
  font-weight: 100;
  color: #999;
  transform: translateY(1px);
}
.form-control:focus {
  border-bottom: 1px solid #accffe;
}
.form-control.error {
  border-bottom: 1px solid #ff8585;
}
.form-holder label.error {
  font-size: 10px;
  color: #ff8585;
  position: absolute;
}
.login .form-control {
  padding: 3px 0px 0px 30px;
}

.toast .lnr {
  font-size: 30px;
  font-weight: 500;
  padding: 0 10px 0 5px;
  float: left;  
}
.toast label {
  font-size: 15px;
}

.otp-digit {
  text-align: center;
  width: 45px;
  font-size: 30px;
  margin: 0 2px;
  display: inline-block;
  border-color: #cccccc;
}
.resend-otp {
  color: #65a3e2;
  font-weight: 500;
  letter-spacing: 1.1px;
  padding: 0 5px;
  cursor: pointer;
}
.resend-otp:hover {
  text-decoration: underline;
}

select,
input[type="number"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

button.form-submit {
  border: none;
  width: 100%;
  height: 49px;
  margin-top: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #99ccff;
  color: #fff;
  text-transform: uppercase;
  /* font-family: "Muli-SemiBold"; */
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
button span {
  position: relative;
  z-index: 2;
}
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(52, 152, 253, 0.25);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
button:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
button:hover:before,
button:hover:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
button:disabled,
button:disabled:before,
button:disabled:after {
  cursor: default;
  background-color: #ccc;
}

/* @media (max-width: 991px) {
  .inner {
    width: 400px;
    left: 4%; } } */
@media (max-width: 800px) {
  .inner {
    width: 100%;
    left: 0;
  }

  .image-1,
  .image-2 {
    display: none;
  }

  form {
    padding: 35px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }

  .wrapper {
    background: none;
  }
}

.dz-wrapper {
  min-height: 150px;
  border: 0;
  background: white;
  padding: 20px 20px;
}
.dropzone {
  min-height: 170px;
  display: block;
  background-color: white;
  border: 2px dashed #99ccff;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.dropzone p {
  text-align: center;
  margin: 3em 0;
  font-size: 20px;
}
.remove-file {
  cursor: pointer;
  color: #444 !important;
  font-weight: 500;
  font-size: 15px !important;
  display: block;
  float: right;
  left: 0 !important;
  position: relative !important;
  top: 8px !important;
}
.file-valid,
.file-invalid {
  font-size: 12px;
  padding: 4px 4px;
  display: block;
  background-color: #cecece;
  border-radius: 4px;
  text-align: center;
  color: #fff;
}
.file-valid {
  background-color: rgb(37, 161, 20);
}
.file-invalid {
  background-color: rgb(219, 66, 66);
}
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}
table.dataTable thead th,
table.dataTable thead td,
table.dataTable {
  border-bottom: 1px solid #99ccff;
  text-align: left;
}
table.dataTable thead tr {
  height: 30px;
}
table.dataTable tbody td {
  height: 80px;
}
.invalid-note {
  display: none;
}

.dt-wrapper {
  padding: 0 60px;
}
@media (max-width: 991px) {
  .dt-wrapper {
    padding: 0px;
  }
}

.upload-wrapper {
  padding: 0;
  min-height: 110px;
}
.file-image {
  background-color: rgb(68, 68, 68);
  background-size: cover;
  background-position: center center;
  width: 70px;
  height: 70px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 8px;
  float: left; 
}
.file-wrapper {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 0;
  float: left;
}
.file-details {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.file-details span {
  display: block;
}

.specimen-sign {
  border:1px dotted #ccc;
  height: 200px;
  /* background: url("/images/sign-specimen-bg.png") no-repeat center;   */
}
@media (max-width: 991px) {
  .specimen-sign {
    width: 100%;
  }
}



.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  float: left;
  padding: 0 10px;
}
.col-lg-2 {
  width: 20%;
}
.col-lg-4 {
  width: 25%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-8 {
  width: 75%;
}
.col-lg-12 {
  width: 100%;
}
@media (max-width: 991px) {
  .col-lg-4,
  .col-lg-6,
  .col-lg-8,
  .col-lg-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */

.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  top: 5px !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: transparent;
}
.overlay .loading {
  opacity: 1;
  color: #000;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay .loading img {
  width: 100px;
}
