.toast {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  opacity: 1;
}
.toast label {
  font-size: 12px;
  color: #fff;
  font-weight: 100;
}

form {
  z-index: 9;
}
.login .form-control,
.onboarding .form-control {  
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    height: 70px;
    background: none;
    padding: 3px 0px 0px 30px;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 20px;
    box-shadow: none;
  }
  .onboarding .form-control {
    font-size: 14px;
    padding: 0;
    height: 20px;
    color: #7a7a7a;
  }
  .login .form-control::-webkit-input-placeholder {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 100;
    color: #fff;
    transform: translateY(1px);
  }
  .login .form-control::-moz-placeholder {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 100;
    color: #fff;
    transform: translateY(1px);
  }
  .login .form-control:-ms-input-placeholder {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 100;
    color: #fff;
    transform: translateY(1px);
  }
  .login .form-control:-moz-placeholder {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 100;
    color: #fff;
    transform: translateY(1px);
  }
  .login .form-holder span.lnr-lock {
    left: 15px;
  }

  .form-group label.error {
    font-size: 10px;
    color: #fd5656;
    position: absolute;
  }
  .form-control.error {
    border-bottom: 1px solid #ff8585;
  }
  

  .form-group {
    font-size: 12px;
    text-align: left;
  }

  .form-holder span.lnr,
  .form-group span.lnr {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
  }

  .onboarding {
    border-radius: 15px;
    color: #7a7a7a;
    padding: 30px 15px;
    background-color: #fff;
    text-align: left;
  }

    .react-datepicker-wrapper {
      width: 100%;
    }
    .react-datepicker__year-read-view--down-arrow,
    .react-datepicker__month-read-view--down-arrow,
    .react-datepicker__month-year-read-view--down-arrow {
      top: 5px !important;
    }

    .onboarding.otp,
    .onboarding.kyc {
      padding: 0;
      min-height: 680px;
    }
    .onboarding.kyc {
      font-size: 12px;
    }
    .onboarding.otp h2,
    .onboarding.kyc h2 {
      font-size: 18px;
    }
    .onboarding.kyc .dpz h2 {
      margin: 15px 0 0 0;
    }
    .onboarding.kyc h4 {
      font-size: 13px;
    }
    .flash-demo {
      border-radius: 15px 15px 0 0;
      background-color: #ff8585;
      display: block;
      color: #fff;
      padding: 8px 10px 0 15px;
      font-size: 12px;
      line-height: 1;
    }
    .flash-demo label {
      letter-spacing: 2px;
    }
    .otp-image {
      text-align: center;
    }
    .otp-image p {
      font-size: 16px;
    }
    .resend-otp {
      color: #1799ae;
      font-weight: 500;
      letter-spacing: 0.3px;
      padding: 0 5px;
      font-size: 17px;
      cursor: pointer;
    }
    .resend-otp:hover {
      text-decoration: underline;
    }

        .image-3 {
      margin: 30px;
      width: 130px;
    }
    .image-4 {
      width: 300px;
      margin: 30px;
    }
    
    .otp-group {
      text-align: center;
    }
    .otp-number {
      margin: 30px 0;
      font-size: 24px;
      letter-spacing: 2px;
      font-weight: 300;
    }

    input.form-control.otp-digit {
      text-align: center;
      width: 45px;
      font-size: 30px;
      margin: 0 2px;
      display: inline-block;
      border-color: #cccccc;
      height: calc(1.5em + 0.75rem + 2px);
      font-weight: 300;
    }
    

    .dz-wrapper {
      border-radius: 15px;
      min-height: 150px;
      border: 0;
      background: white;
      padding: 20px 20px;
    }
    .dropzone {
      min-height: 100px;
      display: block;
      background-color: white;
      border: 1px dashed #18a2b8;
      padding: 10px;
      cursor: pointer;
      border-radius: 10px;
    }
    .dropzone input {
      box-shadow: none;
    }
    
    .dropzone p {
      font-weight: 100;
      text-align: center;
      font-size: 17px;
      margin-top: 25px;
    }
    .remove-file {
      cursor: pointer;
      color: #444 !important;
      font-weight: 500;
      font-size: 15px !important;
      display: block;
      float: right;
      left: 0 !important;
      position: relative !important;
      top: 8px !important;
    }
    .file-valid,
    .file-invalid {
      font-size: 12px;
      padding: 4px 4px;
      display: block;
      background-color: #cecece;
      border-radius: 4px;
      text-align: center;
      color: #fff;
    }
    .file-valid {
      background-color: rgb(37, 161, 20);
    }
    .file-invalid {
      background-color: rgb(219, 66, 66);
    }
    table.dataTable {
      width: 100%;
      margin: 0 auto;
      clear: both;
      border-collapse: separate;
      border-spacing: 0;
    }
    table.dataTable thead th,
    table.dataTable thead td,
    table.dataTable {
      border-bottom: 1px solid #c7e7ed;
      text-align: left;
    }
    table.dataTable thead tr {
      height: 30px;
    }
    table.dataTable tbody td {
      height: 80px;
    }
    .invalid-note {
      display: none;
    }
    
    .dt-wrapper {
      padding: 0 60px;
    }
    @media (max-width: 991px) {
      .dt-wrapper {
        padding: 0px;
      }
    }
    
    .upload-wrapper {
      padding: 0;
      min-height: 110px;
    }
    .file-image {
      background-color: rgb(68, 68, 68);
      background-size: cover;
      background-position: center center;
      width: 70px;
      height: 70px;
      border: 1px solid rgb(68, 68, 68);
      border-radius: 8px;
      float: left; 
      margin-right: 20px;
    }
    .file-wrapper {
      margin-top: 10px;
      margin-left: 10px;
      padding: 10px 0;
      float: left;
    }
    .file-details {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .file-details span {
      display: block;
    }
    
    .specimen-sign {
      border:1px dotted #ccc;
      height: 200px;
      /* background: url("/images/sign-specimen-bg.png") no-repeat center;   */
    }
    @media (max-width: 991px) {
      .specimen-sign {
        width: 100%;
      }
    }


    h1.success {
      color: rgb(92, 165, 92);
      font-weight: 600;
      font-size: 30px;
    }
    a.success-signin {
      color: #1799ae;
      font-weight: 400;
    }
    a.signup {
      
      color: #bff0f8;
      font-weight: 400;
    }
    a.signup:hover {
      text-decoration: none;
    }


    .overlay {      
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: -1;
      transition: 0.5s ease;
      background-color: transparent;
    }
    .overlay .loading {
      opacity: 1;
      color: #000;
      font-size: 30px;
      font-weight: 500;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .overlay .loading img {
      width: 100px;
    } 
  